<div class="container mt-4" *ngIf="usuario">
  <h2 class="text-center">Mi Perfil</h2>

  <!-- Tarjeta de datos del usuario -->
  <div class="card p-4 shadow-sm mx-auto w-100" style="max-width: 600px;">
    <h4>Mis Datos</h4>
    <form [formGroup]="usuarioForm" (ngSubmit)="guardarCambios()">

      <!-- Nombre de usuario -->
      <div class="mb-3">
        <label class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" formControlName="nomUsuario">
        <small *ngIf="nombreUsuarioExiste" class="text-danger">Este nombre ya está en uso</small>
      </div>

      <!-- Correo electrónico -->
      <div class="mb-3">
        <label class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" formControlName="correo">
        <small *ngIf="correoExiste" class="text-danger">Este correo ya está en uso</small>
      </div>

      <!-- Teléfono -->
      <div class="mb-3">
        <label class="form-label">Teléfono</label>
        <input type="text" class="form-control" formControlName="telefono">
        <small *ngIf="telfInvalido" class="text-danger">Este Telefono no tiene el formato correcto <br>
          (9 digitos enteros)</small>
      </div>

      <!-- Datos de Trabajador -->
      <div *ngIf="esTrabajador">
        <h5>Datos del Trabajador</h5>
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="nombreTrabajador">
        </div>

        <div class="mb-3">
          <label class="form-label">Apellidos</label>
          <input type="text" class="form-control" formControlName="apellidosTrabajador">
        </div>

        <div class="mb-3">
          <label class="form-label">Información</label>
          <textarea class="form-control" formControlName="informacionTrabajador"></textarea>
        </div>
      </div>

      <!-- Datos de Empresa -->
      <div *ngIf="esEmpresa">
        <h5>Datos de la Empresa</h5>
        <div class="mb-3">
          <label class="form-label">Nombre de la Empresa</label>
          <input type="text" class="form-control" formControlName="nombreEmpresa">
        </div>

        <div class="mb-3">
          <label class="form-label">Descripción</label>
          <textarea class="form-control" formControlName="descripcionEmpresa"></textarea>
        </div>
      </div>

      <!-- Botones -->
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-success me-2"
                [disabled]="usuarioForm.invalid || nombreUsuarioExiste || correoExiste">
          Guardar Cambios
        </button>
        <button type="button" class="btn btn-danger" (click)="confirmarEliminarUsuario()">
          Eliminar Cuenta
        </button>
      </div>
    </form>
  </div>

  <div class="container d-flex flex-column align-items-center flex-grow-1 mt-md-4">
    <!-- Sección para Anuncios de Empresa -->
    <div class="container d-flex flex-column align-items-center flex-grow-1 mt-md-4" style="max-width: 700px;" *ngIf="anunciosEmpresaUsuario.length > 0">
      <h3 class="text-center my-4">Anuncios de Empresa</h3>
      <div *ngFor="let anuncio of anunciosEmpresaUsuario" class="card mb-3 shadow-sm border border-grey w-100 w-md-75 w-lg-25 mx-auto">
        <div class="row g-0">
          <div class="col-4 d-flex align-items-center justify-content-center">
            <img src="assets/images/building-6702046_1280.png" class="img-fluid pfp" alt="Empresa">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-primary">Oferta de Empleo</h5>
              <p class="card-text">{{ anuncio.descripcion }}</p>
              <p class="card-text">
                <span>Publicado por: {{ anuncio.empresa?.nombre || 'Empresa' }}</span>
              </p>
              <p class="card-text">
                <small *ngIf="anuncio.empresa" class="text-muted">Empieza el: {{ anuncio.fechaInicio  | date: 'dd/MM/yyyy HH:mm' }}</small>
                <ng-container *ngIf="anuncio.empresa">
                  <ng-container *ngIf="anuncio.fechaFin !== 'Indefinida'; else sinFechaFin">
                    <small class="text-muted"><br>Termina el: {{ anuncio.fechaFin | date: 'dd/MM/yyyy HH:mm' }}</small>
                  </ng-container>
                  <ng-template #sinFechaFin>
                    <small class="text-muted"><br>Termina el: Sin especificar</small>
                  </ng-template>
                </ng-container>
              </p>
              <div class="d-flex justify-content-around">
                <button class="btn btn-outline-warning btn-sm" (click)="editarAnuncio(anuncio)">Editar</button>
                <button class="btn btn-outline-danger btn-sm" (click)="confirmarBorrarAnuncio(anuncio)">Borrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sección para Anuncios de Trabajador -->
    <div class="container d-flex flex-column align-items-center flex-grow-1 mt-md-4" style="max-width: 700px;" *ngIf="anunciosTrabajadorUsuario.length > 0">
      <h3 class="text-center my-4">Anuncios de Trabajador</h3>
      <div *ngFor="let anuncio of anunciosTrabajadorUsuario" class="card mb-3 shadow-sm border border-grey w-100 w-md-75 w-lg-25 mx-auto">
        <div class="row g-0">
          <div class="col-4 d-flex align-items-center justify-content-center">
            <img src="assets/images/blank-profile-picture-973460_1280.png" class="img-fluid pfp" style="max-width: 180px;" alt="Trabajador">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-primary">Perfil de Trabajador</h5>
              <p class="card-text">{{ anuncio.descripcion }}</p>
              <p class="card-text">
                <span>Publicado por: {{ anuncio.trabajador?.nombre }} {{ anuncio.trabajador?.apellidos }}</span>
              </p>
              <p class="card-text">
                <small class="text-muted">Publicado el: {{ anuncio.fechaPublicacion }}</small>
              </p>
              <div class="d-flex justify-content-around">
                <button class="btn btn-outline-warning btn-sm" (click)="editarAnuncio(anuncio)">Editar</button>
                <button class="btn btn-outline-danger btn-sm" (click)="confirmarBorrarAnuncio(anuncio)">Borrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mensaje si no hay anuncios -->
    <div *ngIf="anunciosEmpresaUsuario.length === 0 && anunciosTrabajadorUsuario.length === 0" class="text-center mt-5">
      <p class="fs-5">No tienes anuncios publicados aún.</p>
      <button class="btn btn-primary" (click)="crearAnuncio()">Crear Anuncio</button>
    </div>
  </div>



</div>
