<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio sesion</title>
</head>
<body>


<div class="container-lg d-flex flex-column align-items-center">

  <h1>Inicio de sesion</h1>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Nombre de Usuario o Correo -->
    <div class="form-group">
      <label for="nomUsuarioCorreo" class="form-label">Nombre de Usuario o Correo Electrónico</label>
      <input
        type="text"
        class="form-control"
        id="nomUsuarioCorreo"
        formControlName="nomUsuarioCorreo"
        placeholder="Introduce tu nombre de usuario o correo"
        required
      />
      <div *ngIf="loginForm.get('nomUsuarioCorreo')?.invalid && loginForm.get('nomUsuarioCorreo')?.touched" class="text-danger">
        Este campo es obligatorio.
      </div>
    </div>

    <!-- Contraseña -->
    <div class="form-group mt-2">
      <label for="contrasenia" class="form-label">Contraseña</label>
      <input
        type="password"
        class="form-control"
        id="contrasenia"
        formControlName="contrasenia"
        placeholder="Introduce tu contraseña"
        required
      />
      <div *ngIf="loginForm.get('contrasenia')?.invalid && loginForm.get('contrasenia')?.touched" class="text-danger">
        La contraseña es obligatoria.
      </div>
    </div>

    <!-- Botón de Enviar -->
    <button type="submit" class="btn btn-primary mt-3" [disabled]="loginForm.invalid">
      Iniciar Sesión
    </button>
  </form>

  <a id="registro" class="mt-auto nav-link" [routerLink]="['/register']">¿Todavia no te has registrado?</a>

</div>

</body>
</html>
