<nav class="navbar navbar-expand-md navbar-light bg-white">
  <div class="container ">
    <a routerLink="/">
      <img src="assets/images/logo_200x200.png" alt="" class="logo">
    </a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- En este navbar collapse no se debe utilizar d-flex ni d-grid porque se carga el hidden-->
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 flex-fill d-flex justify-content-evenly mb-md-0 justify-content-center-md">
        <li class=" nav-item" ><a class="btn btn-formp btn-outline-primary border border-dark rounded-pill" routerLink="/">Inicio</a></li>
        <li class=" nav-item" ><button class="btn btn-outline-primary border border-dark rounded-pill" type="button" routerLink="/content">Empresa</button></li>
        <li class=" nav-item" ><button class="btn btn-outline-primary border border-dark rounded-pill" type="button">Salario</button></li>
        <li class=" nav-item" ><button class="btn btn-outline-primary border border-dark rounded-pill" type="button">Formacion</button></li>
        <li class=" nav-item" ><a class="btn btn-formp btn-outline-primary border border-dark rounded-pill" routerLink="/login" type="button"><b>Empresas</b></a></li>
        <li class=" nav-item" ><a class="btn btn-formp btn-outline-primary border border-dark rounded-pill" routerLink="/register" type="button"><b>Trabajadores</b></a></li>
      </ul>

      <!-- Contenedor de usuario logueado -->
      <div class="d-flex align-items-center" *ngIf="usuario">
        <img
          src="assets/images/blank-profile-picture-973460_1280.png"
          alt="Imagen de Perfil"
          class="rounded-circle me-2"
          style="width: 40px; height: 40px;"
        />
        <span>{{ usuario.nombreUsuario }}</span>
        <button class="btn btn-outline-danger ms-3" (click)="logout()">Cerrar Sesión</button>
      </div>
    </div>
  </div>
</nav>
