<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
 </head>
<body>


<div class="container-xl">

  <div class="section d-lg-flex justify-content-between">


    <!-- Filtros -->
    <div class="border border-grey d-flex flex-column align-items-center" id="filtrado" style="max-height: 130px; overflow-y: auto;">
      <h2>Filtros</h2>
      <form>
        <div class="d-flex flex-column align-items-center">
          <label for="filtroAnuncios" class="mb-2">Mostrar:</label>
          <select id="filtroAnuncios" class="form-select border-dark rounded" name="filtroAnuncios"
                  [(ngModel)]="filtroSeleccionado" (change)="onFiltroChange()">
            <option value="todos" selected>Todos</option>
            <option value="empresa">Empresas</option>
            <option value="trabajador">Trabajadores</option>
          </select>
        </div>
      </form>
    </div>


    <!-- Componente Anuncios -->
    <div id="content" class="d-flex flex-column align-items-center flex-grow-1 mt-md-4">
      <app-anuncios
        [filtroSeleccionado]="filtroSeleccionado">
      </app-anuncios>
    </div>

  </div>

</div>
</body>
</html>

