<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
 </head>
<body>


<div class="container-xl">

  <div class="section d-lg-flex justify-content-between">


      <!-- Filtros -->
      <div class="border border-grey  d-flex flex-column align-items-center" id="filtrado" style="max-height: 130px; overflow-y: auto;">
        <h2>Filtros</h2>
        <form>
          <div class="d-flex flex-column align-items-center">
          <div class="form-check form-check-inline">
            <input type="checkbox"
                   name="trabajadoresCheckbox"
                   class="form-check-input" id="trabajadoresCheckbox" [(ngModel)]="soloTrabajadores" (change)="onCheckboxChange()" >
            <label class="form-check-label" for="trabajadoresCheckbox">Anuncios de Trabajadores</label>
          </div>

          <div class="form-check form-check-inline">
            <input type="checkbox"
                   name="empresasCheckbox"
                   class="form-check-input" id="empresasCheckbox" [(ngModel)]="soloEmpresas" (change)="onCheckboxChange()" >
            <label class="form-check-label" for="empresasCheckbox">Anuncios de Empresas</label>
          </div>
            </div>
        </form>
      </div>


    <!-- Componente Anuncios -->
    <div id="content" class="d-flex flex-column align-items-center flex-grow-1 mt-md-4">
      <app-anuncios
        [soloTrabajadores]="soloTrabajadores"
        [soloEmpresas]="soloEmpresas">
      </app-anuncios>
    </div>

  </div>

</div>
</body>
</html>

